*{
  margin: 0;
}
html, body{
  height: 100%;
  position:relative;
  background: url("background.jpg") no-repeat center;
  background-size:cover;
}
.quadrato{
  width: 60%;
  height: 90%;
  background-color:rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 10%;

}
.logo{
  display: block;
  width: 25%;
  margin: auto;
  padding-top: 10%

}
h1{
  color: rgba(0,255,0,1.0);
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
section{
  width: 80%;
  background-color:rgba(0,255,0,1.0);
  margin: auto;
  text-align: center;
  height: 5%;
  padding-top: 1%;
}

div{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 1%;
}
.fra{
  font-family: verdana;
  font-size: 14px;

}
div, .fra{
  color:white;
  margin-left: 10%;
}
.rettangolino{
  width: 30%;
  height: 3%;
  background-color: orange;
  border-radius: 6%;
}
.rettangolone{
  width: 50%;
  height: 3%;
  background-color: green;
  border-radius: 6%;
}
.reattangolinino{
  width: 10%;
  height: 3%;
  background-color: red;
  border-radius: 6%;
}
